html,
body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    height: 100vh;
    margin: 0;
}
.full-height {
    height: 80vh;
}
.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}
.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}
.title {
    font-size: 84px;
}
.links>a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}
.m-b-md {
    margin-bottom: 30px;
}
.container {
    width: 90%;
    margin: 20px auto;
}
.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
}
.bs-example::after {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
    content: "Example";
}
.capitilize{
    text-transform: capitalize;
    margin-left: 10px;
    padding-left: 10px;
    border-left: 1px solid #ccc;
    display: inline-block;
}
.seprator:last-child{
    display: none;
}
.edit {
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.nav-item.subscribe a {
    color: inherit;
    display: block;
    line-height: 40px;
    margin: 0 10px;
}